.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*{
  margin: 0;
  padding: 0;
 background: #94f17800;
}

.App-header {
  background-color: #282c340b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.blank{
  background: #000;
  color: blue;
}
nav{
  display: flex;

}
li{
  margin: 2px;
}
.main{
  display: flex;
  align-items: center;
  justify-self: center;
}
#data{
  border: 3px solid gray;

  border-radius: 12px;
}

.active{
  color: hotpink;
}